@tailwind base;
@tailwind components;
@tailwind utilities;

/*nav */
.abs {
	top: 50%;
	transform: translateY(-50%);
}
/* profilheader */
.trans {
	transform: translateY(-5vh);
	z-index: 2;
}
.trans1 {
	transform: translateY(-10%);
}
/* .trans3 {
	transform: translateY(-0%);
} */
body {
	background-color: #f0f2f5;
}
